
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<title>Dune: Imperium - Gallery</title>
<link rel="stylesheet" href="/assets/styles.css" />
</head>

<body>
<header>
<h1>Dune: Imperium</h1>
<nav>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/gallery">Gallery</a>
</nav>
</header>
<main>
<section class="gallery">
<div class="gallery-image">
<img src="/assets/dune-imperium-gallery-1.jpg" alt="" />
</div>
<div class="gallery-image">
<img src="/assets/dune-imperium-gallery-2.jpg" alt="" />
</div>
<div class="gallery-image">
<img src="/assets/dune-imperium-gallery-3.jpg" alt="" />
</div>
<div class="gallery-image">
<img src="/assets/dune-imperium-gallery-4.jpg" alt="" />
</div>
<div class="gallery-image">
<img src="/assets/dune-imperium-gallery-5.jpg" alt="" />
</div>
</section>
</main>
<footer>
<p>Copyright © 2023 Dune: Imperium</p>
</footer>
</body>

</html>

